*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.ilg
*.lof
*.log
*.lot
*.nlo
*.nls
*.out
*.run.xml
*.synctex.gz
*.toc
*.xdv
thesis-old.tex
thesis-old.pdf
thesis.pdf
thesis-diff.tex
thesis-diff.pdf
bibliography.bib